#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
.movie-details-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 2rem;
  max-width: 1000px;
  margin: auto;
  background-color: #111;
  color: #f1f1f1;
  border-radius: 16px;
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.1);
}

.movie-poster img {
  width: 300px;
  border-radius: 12px;
  object-fit: cover;
}

.movie-info {
  flex: 1;
  min-width: 250px;
}

.movie-info h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: #ff6363;
}

.movie-info p {
  margin-bottom: 0.5rem;
  font-size: 1rem;
  line-height: 1.5;
}
